body {
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

.split {
    height: 100%; 
    position: fixed;
    top: 0;
    color: white;
}

.left {
    background-color: #242B3A;
    left: 0;
    width: 35%;
}

.right {
    /* background-color: #269AB5; */
    right: 0;
    width: 65%;
}

.profilepic {
    height: 250px;
    border-radius: 50%;
    border: black solid 4px;
}

.socialmedia {
    text-align: center;
    margin: 50px;
}

.icon {
    width: 50px;
    height: 50px;
}