body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', Verdana, Geneva, sans-serif;
    position: relative;

}

/* Mobile first CSS */
h1 {
    margin-top: 0;
    padding-top: 15px;
}

.left {
    background-color: #242B3A;
    color: white; 
 }

.right {
    color: black;
}

.right p {
    margin: 10px;
}

.profilepic {
    height: 250px;
    border-radius: 50%;
    border: black solid 4px;
}

.socialmedia {
    text-align: center;
    padding: 50px;
}

.icon {
    width: 50px;
    height: 50px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
    .left {
        height: 100%; 
        position: fixed;
        top: 0;
        left: 0;
        width: 35%;
    }
    
    .right {
        height: 100%; 
        position: fixed;
        top: 0;
        right: 0;
        width: 65%;
    }
} 