/* Cover styling*/

.cover-portfolio {
  background-image: url(../images/header-portfolio.jpg);
}

/* Content styling*/

.sub-heading {
  margin-top: 25px;
  text-decoration:
}

.img-resize {
  width: 500px;
}
